<div class="editing-title container-fluid">
	<h3>
		<i class="material-icons xlarge">dashboard</i>&nbsp;&nbsp;Dashboard
	</h3>
</div>

<div class="container-fluid" id="home-tiles">
		<div class="col-xs-12 col-md-4" style="margin-bottom:20px;">
		   	<div class="home-tile markets">
		   		<div class="dimmer">
		   			<div class="inner-tile">
		   				<h2>BANDWIDTH</h2>
		   				<div class="number-box">
		   					<p class="hlabel">UPLOAD</p>
							<p class="hnumbers">{{ tileinfo.free }} GB</p>
							<p class="hlabel">DOWNLOAD</p>
							<p class="hnumbers">{{ tileinfo.download }} GB</p>
		   				</div>
		   				
		   			</div>
		   		</div>
		   
			</div>
		</div>

		<div class="col-xs-12 col-md-4" style="margin-bottom:20px;">
		   	<div class="home-tile news">
		   		<div class="dimmer">
		   			<div class="inner-tile">
		   				<h2>STORAGE</h2>
		   				<div class="number-box">
			   				<p class="hlabel">MEMORY</p>
							<p class="hnumbers">{{ tileinfo.ramtotal }} MB</p>
							<p class="hlabel">FREE</p>
							<p class="hnumbers">{{ tileinfo.ramfree }} MB</p>
						</div>
		   			</div>
		   		</div>
		   
			</div>
		</div>

		<div class="col-xs-12 col-md-4" style="margin-bottom:20px;">
		   	<div class="home-tile bitcoin-tile">
		   		<div class="dimmer">
		   			<div class="inner-tile">
		   				<h2>INFO</h2>
		   				<div class="number-box">
			   				<p class="hlabel">MINI USERNAME</p>
							<p class="hnumbers">{{ tileinfo.username }}</p>
							<p class="hlabel">GORILLA VERSION</p>
							<p class="hnumbers">{{ tileinfo.gorillaver }}</p>
						</div>
		   			</div>
		   		</div>
		   
			</div>
		</div>

		<div class="col-xs-12 col-md-6" style="margin-bottom:20px;">
		   	<div class="home-tile functions-tile">
		   		<div class="dimmer">
		   			<div class="inner-tile">
		   				<h2>FUNCTIONS</h2>
		   				<div class="number-box">
			   				<p class="hlabel">NEW ADDRESS</p>
							<a class="btn ghost-btn">AddNew</a>
							<p class="hlabel">DUMP PRIVATE KEY</p>
							<a class="btn ghost-btn">DumpPrivKey</a>
						</div>
		   			</div>
		   		</div>
		   
			</div>
		</div>

		<div class="col-xs-12 col-md-6" style="margin-bottom:20px;">
		   	<div class="home-tile messages-tile">
		   		<div class="dimmer">
		   			<div class="inner-tile">
		   				<h2>MESSAGES</h2>
		   				<div class="number-box">
			   				<p class="hlabel">SIGN MESSAGE</p>
							<a class="btn ghost-btn">Sign</a>
							<p class="hlabel">VERIFY MESSAGE</p>
							<a class="btn ghost-btn">Verify</a>
						</div>
		   			</div>
		   		</div>
		   
			</div>
		</div>
</div>

